@media only screen and (max-width: 900px) {
  .project-wrapper {
    width: 100% !important;
  }
  .main-content {
    width: 100% !important;
  }
  .input-field-text {
    font-size: 0.85em !important;
  }
  .message-wrapper {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: 600px) {
  .input-field-icons-wrapper {
    display: none !important;
  }
  .input-field-text {
    margin: 0 auto !important;
  }

  .buttons-wrapper {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .input-field-text {
    font-size: 0.7em !important;
  }
}
