@media only screen and (max-width: 1165px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .project-wrapper {
    width: 100% !important;
  }
  .main-content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 8px;
  }
  .message-top-line-wrapper {
    display: none !important;
  }

  .input-field-icons-wrapper {
    display: none !important;
  }

  .buttons-wrapper {
    width: 100% !important;
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 500px) {
  .input-field-wrapper {
    border-radius: 15px !important;
  }
}
