/* My projects Module CSS */
.row {
  margin: 0 50px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-wrapper {
  width: 48%;
  overflow: hidden;
  margin-bottom: 3%;
}
.project-img-nonhovered {
  opacity: 0.8;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  width: calc(100% - 2px);
  border: 1px solid white;
}

.row img:hover {
  opacity: 1;
}

.description {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 1%;
}
