.app {
  margin: 7px auto;
  max-width: 1600px;
}

.main-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-content {
  width: 60%;
  border-radius: 25px;
}

.render-area {
  width: 100%;
  height: 0;
  overflow: scroll;
}
.render-area-height-transition {
  height: calc(100vh - 65px);
  transition: height 2s;
  margin-top: 0;
}
.signature {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  white-space: nowrap;
  padding-top: 30%;
}
.message-wrapper {
  color: black;
  display: none;
  padding: 50px 10px;
  font-size: 1.3em;
}
.img-avatar {
  width: 121px;
  border-radius: 100%;
  border: 1px solid black;
}
.message-info-text {
  width: 100%;
  padding: 10px;
}
.message-top-line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #06c;
  padding-bottom: 25px;
}

.input-field-wrapper {
  background-color: white;
  display: flex;
  border-radius: 25px;
  border-top: 1px solid black;
  height: 50px;
}
.input-field-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;

  margin-left: 25px;
}
.input-field-icon {
  height: 40px;
}
.input-field-text {
  width: 75%;
  margin-left: 5%;
  border: none;
  background-color: white;
  font-size: 1em;
}
input:focus {
  outline: none;
  padding: 0;
}
.buttons-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: calc(90% - 50px);
}
.button {
  margin-right: 5px;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  background-color: gray;
  border: 1px solid #0a0022;
  border-radius: 7px;
  white-space: nowrap;
}
.button:hover {
  color: black;
}
/* additional CSS */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.visible {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.hidden {
  display: none;
}
.backgorund-white {
  background-color: white;
}
.width-full-screen-transition {
  width: 100%;
  transition: width 2s;
}
.height-zero {
  height: 0;
  line-height: 0;
  transition: line-height, 2s;
}

/* project css */
.row {
  margin: 0 50px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-wrapper {
  width: 48%;
  overflow: hidden;
  margin-bottom: 3%;
}
.project-img-nonhovered {
  opacity: 0.8;
  border-radius: 25px;
  width: calc(100% - 2px);
  border: 1px solid white;
}

.row img:hover {
  opacity: 1;
}

.description {
  font-size: 1rem;
  text-align: center;
  width: 90%;
  padding-bottom: 1%;
}
