body {
  background-color: #0a0022;
  color: white;
}
.messanger-area {
  width: 60vw;
  height: 70vh;
  background-color: white;
  position: absolute;
  top: 15vh;
  left: 20vw;
  color: black;
  border-radius: 35px;
  min-height: 500px;
}

.mesanger-output-area {
  padding: 2em 2em;
  width: calc(100% - 2em);
  height: calc(100% - 50px - 4em);
}
.message-body {
  z-index: 0;
  margin: 2em 0;
  display: none;
  height: 100px;
  font-weight: bold;
}
.not-hidden {
  display: flex;
}

.user-name {
  color: #4a8cd3;
  font-weight: bold;
  margin-bottom: 1em;
}
.name-text-message {
  padding-left: 1em;
}
.message-input-field-area {
  background-color: white;
  z-index: 2;
  height: 49px;
  border-top: 1px solid #0a0022;
}
.message-input-field {
  margin-left: 10%;
  height: 49px;
  width: 80%;
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}
input:focus {
  outline: none;
  padding: 0;
}
button {
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-color: #5e1d71;
  min-width: 350px;
  min-height: 85px;
  border-radius: 25px;
  border: 1px solid white;
  z-index: 10;
  position: absolute;
  bottom: 100px;
}
.button-one {
  left: -175px;
}
.button-middle {
  left: calc(50% - 175px);
}
.button-last {
  right: -175px;
}
